@using Microsoft.AspNetCore.Identity
@using nimporteou.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User) !</a>
            </li>

            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li><a onclick="LoginModal()">Connexion</a></li>
            <li><a> | </a></li>
            <li><a onclick="RegisterModal()">Inscription</a></li>
        </ul>
    </div>
}
