/*****************************************************************************
layout.cshtml
*****************************************************************************/

/* Pour que le logo ne soit pas coller sur le bord de l'écran à gauche */
.margeLogo {
	margin-left: 15px;
}

/* Pour centrer les images du carousel et leur donner hauteur min et max */
.carousel-inner > .item > img {
    margin: 0 auto;
	max-height: 360px;	
	min-height: 300px;
	
}

/*****************************************************************************
index.cshtml
*****************************************************************************/

#backgroungConnecterModal {
	
	background-image: url("../images/degradeSite.png");
}

#backgroungConnecterModalExterne {
	background-color: #fff;
}

/* Correction marge div btn Connecter */
#margeConnecter {
	margin-top: 12px;
	color: #9d9d9d;
}

/* Titre menu navigation */
#menuNavigationFont {
	font-weight: bold !important;	
	font-size: 20px !important;
	color: #fff;
}

/* Bannière grise Événement à venir */
#banniereEvenementInfo{
	background-color: #565656 !important;
	color: #fff;
	padding: 5px 35px;
	margin-top: 5px;
}

/* div text-align gauche Bannière info événement */
#textLeftBanniereInfo {
	text-align: left;
}

/* div text-align droite Bannière info événement */
#textRightBanniereInfo {
	text-align: right;
}

/* Titre Bannière info événement */
#headerBanniereInfo {
	font-weight: bold !important;
	font-style: italic !important;
	margin: 2px 0px 0px;
}

/* Prix Bannière info événement */
#paraPrixBanniereInfo {
	margin: 2px 0px 0px;
	font-size: 20px !important;
	font-weight: bold !important;
}

/* Date & ville Bannière info événement */
#paraDateVilleBanniereInfo {
	margin: 0px;
	font-size: 16px !important;
}

/* Bannière grise Événement à venir */
#banniereEvenementaVenir {
	background-color: #565656 !important;
	color: #fff;
	padding: 5px;
	padding-left: 35px;
	margin-top: 5px;
}

/* Fond gris pâle photo événement à venir */
#backgroundEvenementaVenir {
	background-color: #b7b7b7;
}

/* margin-top div photo thumbnail */
#margeTopDivPhotoEvenementaVenir {
	margin-top: 15px;
	padding-left: 35px;
	padding-right: 35px;
}

/* text thumbnail*/
#textDivThumbnail {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #4c4c4c;
}

/* paragraphethumbnail */
#parathumbnail {
	margin: 0px;
	font-size: 16px !important;
}

/* header thumbnail */
#headerThumbnail {
	margin-top: 2px;
	font-weight: bold !important;
}

/* unvisited link */
a:link {
    color: #4c4c4c;
}

/* visited link */
a:visited {
    color: #4c4c4c;
}

/* mouse over link */
a:hover {
    color: #4c4c4c;
}

/* selected link */
a:active {
    color: #4c4c4c;
}

/* garder le texte en blanc sur le btn rouge */
#textBtnRouge {
	color: #fff !important;
}


#divLogo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/***************************************************************
register.cshtml
***************************************************************/
#headerRegister {
	font-weight: bold;
	color: #fff;
}

#paraRegister {
	font-size: 20px;
}


/***************************************************************
login.cshtml
***************************************************************/
#headerLogin {
	font-weight: bold;
	color: #fff !important;
}

/***************************************************************
Contact.cshtml
***************************************************************/
#headerEmailContact {
	color: #DF0000 !important;
}

#textColorEmailContact {	
	font-weight: bold;
	color: #fff !important;
}


/* background dégradé noir & blanc */
body {
    padding-top: 50px;
    padding-bottom: 20px;
	background-image: url("../images/degradeSite.png");
	background-color: #000000;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#collapseFAQHiddenShow
{
    display:none;
    border:2px black solid;
}

#collapseFAQTitle{
    background-color:transparent;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
