@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    835 rue Chicoyne<br />
    Sherbrooke, CA J1E2H8<br />
    <abbr title="Phone">P:</abbr>
    1-819-342-2711
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">nickmarcil@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">maximemichaud22@gmail.com</a><br />
    <strong>Question général:</strong> <a href="mailto:Marketing@example.com">sorrynomana4u@gmail.com</a><br />
    <strong>Plainte:</strong> <a href="mailto:Marketing@example.com">charlesderagon@yahoo.ca</a><br />
</address>





