@{
    ViewData["Title"] = "Contact";
}
<h2 id="headerRegister">@ViewData["Title"]</h2>
<h3 id="headerRegister">@ViewData["Message"]</h3>

<address id="headerRegister">
    835 rue Chicoyne<br />
    Sherbrooke (Québec) Canada J1E 2H8<br />
    <abbr title="Phone">P :</abbr>
    1-819-342-2711
</address>

<address id="textColorEmailContact">
    Support : <a id="headerEmailContact" href="mailto:Support@example.com">nickmarcil@hotmail.com</a><br />
    Marketing : <a id="headerEmailContact" href="mailto:Marketing@example.com">maximemichaud22@gmail.com</a><br />
    Question général : <a id="headerEmailContact" href="mailto:Marketing@example.com">sorrynomana4u@gmail.com</a><br />
    Plainte : <a id="headerEmailContact" href="mailto:Marketing@example.com">charlesderagon@yahoo.ca</a><br />
</address>

@*<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="GKCJ33FGQSKAN">
        <input type="hidden" name="lc" value="CA">
        <input type="hidden" name="amount" value="15.00">
        <input type="hidden" name="currency_code" value="CAD">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="cn" value="Add special instructions to the seller:">
        <input type="hidden" name="no_shipping" value="2">
        <input type="hidden" name="rm" value="1">
        <input type="hidden" name="return" value="https://TODOInsertSUCCESS">
        <input type="hidden" name="tax_rate" value="0.000">
        <input type="hidden" name="shipping" value="0.00">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        Support: Nick
    Nous contacter: Nick
    FAQ: Nick
    </form>*@





