@model nimporteou.Models.EvenementViewModels.ListeEvenementViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Evenements.Count(); i++)
        {
            <li data-target="#carousel" data-slide-to="@i"></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @foreach (var item in Model.Evenements)
        {
            Html.RenderPartial("_EvenementCarousel", item);
        }

    </div>

    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    Évènements a venir:
</div>

@*Affiche les thumbnails des évènement qui ne sont pas le premier évènement du carousel*@
@foreach (var item in Model.Evenements.Skip(1))
{
    Html.RenderPartial("_EvenementThumbnail", item);
}
@section Scripts {
    <script type="text/javascript">
        //Affiche le premier évènement
        window.addEventListener("load", function () {
            $('.carousel :first-child').addClass("active")
        });
    </script>
}


