@{
    ViewData["Title"] = "Support";
}
<h2 id="headerRegister">@ViewData["Title"]</h2>
<h3 id="headerRegister">@ViewData["Message"]</h3>

<style>
.collapseFAQHiddenShow
{
    display:none;
}

.collapsedFAQTitle{
    background-color:transparent;
    cursor:pointer;
}

</style>
<p id="headerRegister">Pour nous contacter, vous pouvez cliquer <a id="headerEmailContact" href="~/Views/Home/Contact.cshtml">ici</a></p>



@{int nombre = -1;}
@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h3 id="headerRegister">Par où dois-je commencer ?&nbsp;&nbsp;&nbsp;⇓</h3>
</div>
<div class="collapseFAQHiddenShow">
    Vous pouvez consulter les événements sans être inscrit, mais pour utiliser la plupart des fonctions du site, vous devez être inscrit.
     Pour ce faire,  vous pouvez cliquer sur "inscription" dans le menu en haut à droite. Tout est gratuit et vous pourrez par la suite voir
    tous les événements selon vos préférences!
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h3 id="headerRegister">Comment je fais pour participer à un événement ?&nbsp;&nbsp;&nbsp;⇓</h3>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h3 id="headerRegister">Comment je fais pour créer un événement ?&nbsp;&nbsp;&nbsp;⇓</h3>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h3 id="headerRegister">Comment je fais pour modifier les paramètre de mon compte et mes préférences ?&nbsp;&nbsp;&nbsp;⇓</h3>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h3 id="headerRegister">Comment je fais pour créer un événement pour mes ami(e)s uniquement ?&nbsp;&nbsp;&nbsp;⇓</h3>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h3 id="headerRegister">Si j'achète un billet, quels sont les étapes suivante ?&nbsp;&nbsp;&nbsp;⇓</h3>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h3 id="headerRegister">Comment j'ajoute un ami(e) ?&nbsp;&nbsp;&nbsp;⇓</h3>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h3 id="headerRegister">Comment je fais pour poser une autre question que ceux-ci ?&nbsp;&nbsp;&nbsp;⇓</h3>
</div>
<div class="collapseFAQHiddenShow">
    Cliquer sur "contact" dans le menu d'en haut et écrivez-nous! Il nous fera un plaisir de répondre à vos questions.
</div>