@{
    ViewData["Title"] = "Support";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<style>
.collapseFAQHiddenShow
{
    display:none;
}

.collapsedFAQTitle{
    background-color:transparent;
    cursor:pointer;
}

</style>
<p>Pour nous contacter, vous pouvez cliquer <a asp-area="" asp-controller="Home" asp-action="Contact">ici</a></p>



@{int nombre = -1;}
@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Par où dois-je commencer?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    Vous pouvez consulter les événements sans être inscrit, mais pour utiliser la plupart des fonctions du site, vous devez être inscrit.
     Pour ce faire,  vous pouvez cliquer sur "inscription" dans le menu en haut à droite. Tout est gratuit et vous pourrez par la suite voir
    tous les événements selon vos préférences!
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour participer à un événement?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    Selectionner un événement et appuyé sur s'inscrire.
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour créer un événement?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    Choisir l'onglet "Mes événements", appuyé sur le lien "Créer un événement" et remplir les informations de votre événement.
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour modifier les paramètre de mon compte et mes préférences?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour créer un événement pour mes ami(e)s uniquement?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    Tu créés un événement privé et envoie des invitations à tes ami(e)s.
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Si j'achète un billet, quels sont les étapes suivante?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    Vous receverez par email une confirmation avec votre numéro de billet. Vous pourrez ensuite imprimmer celui-ci et le présenter à l'événement. Vous pouvez également
    présenté une version du billet sur mobile.
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Un événement est clairement faux ou offensant, comment dois-je le reporter?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    Vous n'avez qu'a cliquer sur le lien "Signaler".
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour poser une autre question que ceux-ci?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    Cliquer sur "contact" dans le menu d'en haut et écrivez-nous! Il nous fera un plaisir de répondre à vos questions.
</div>
