@{
    ViewData["Title"] = "Support";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<style>
.collapseFAQHiddenShow
{
    display:none;
}

.collapsedFAQTitle{
    background-color:transparent;
    cursor:pointer;
}

</style>
<p>Pour nous contacter, vous pouvez cliquer <a href="~/Views/Home/Contact.cshtml">ici</a></p>



@{int nombre = -1;}
@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Par où dois-je commencer?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour participer à un événement?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour créer un événement?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour modifier les paramètre de mon compte et mes préférences?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour créer un événement pour mes ami(e)s uniquement?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Si j'achète un billet, quels sont les étapes suivante?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment j'ajoute un ami(e)?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>

@{nombre++;}
<div class="collapsedFAQTitle" onclick="showContent(@nombre)">
    <h1>Comment je fais pour poser une autre question que ceux-ci?&nbsp;&nbsp;&nbsp;⇓</h1>
</div>
<div class="collapseFAQHiddenShow">
    TODO:RÉPONSE
</div>