@model nimporteou.Models.EvenementViewModels.CreationEvenementViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Nom" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input id="nomevt" asp-for="Nom" placeholder="Nom" class="form-control" minlength="5" maxlength="100" required />
        <span asp-validation-for="Nom" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="Description" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Description" placeholder="Description" class="form-control" maxlength="2000" required/>
        <span asp-validation-for="Description" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <label asp-for="DateLimite" class="col-md-2 control-label">Date limite d'inscription</label>
    <div class="col-md-10">
        <input asp-for="DateLimite" type="date" class="form-control" data-time-format="dd/mm/YYYY" required/>
        <span asp-validation-for="DateLimite" class="text-danger"/>
    </div>
</div>

<div class="form-group">
    <label asp-for="HeureDebut" class="col-md-2 control-label">Heure</label>
    <div class="col-md-10">
        <input asp-for="HeureDebut" type="time" class="form-control" data-time-format="H:i" required />
        <span asp-validation-for="HeureDebut" class="text-danger"/>
        
    </div>
</div>

<div class="form-group">
    <label asp-for="Duree" class="col-md-2 control-label">Durée</label>
    <div class="col-md-10">
        <input asp-for="Duree" placeholder="Veuillez-saisir la durée total" type="text" class="form-control" data-time-format="H:i:s" required/>
        <span asp-validation-for="Duree" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <label asp-for="Debut" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Debut" type="date" class="form-control" required />
        <span asp-validation-for="Debut" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <label asp-for="Fin" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Fin" type="date" class="form-control" DataFormatString="{0:MM/dd/yyyy}" required />
        <span asp-validation-for="Fin" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <label asp-for="AdresseComplete" class="col-md-2 control-label">Adresse</label>
    <div class="col-md-10">
        <input asp-for="AdresseComplete" class="form-control" required />
        <span asp-validation-for="AdresseComplete" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <label asp-for="Ville" class="col-md-2 control-label">Ville</label>
    <div class="col-md-10">
        <input asp-for="Ville" placeholder="Le nom de la ville" class="form-control" required />
        <span asp-validation-for="Ville" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <img id="blah" class="photo" ImageUrl="img/user-5.png" />
    <label for="imgInp" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i>Add Image
    </label>

    <label asp-for="CheminPhoto" class="col-md-2 control-label">Image</label>
    <div class="col-md-10">
        <input asp-for="CheminPhoto" type="file" id="imgInp" name="files" class="form-control" />
        <span asp-validation-for="CheminPhoto" class="text-danger" />
    </div>
</div>
