@model nimporteou.Models.EvenementViewModels.ListeEvenementViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    @foreach (var item in Model.Evenements)
    {
        Html.RenderPartial("_EvenementPartial", item);
    }
</div>