@model nimporteou.Models.EvenementViewModels.ListeEvenementViewModel

@{
    ViewData["Title"] = "Mes invitations";
}

<h2>Liste des invitations reçues</h2>

<div class="container">
    @foreach (var item in Model.Evenements)
    {
        Html.RenderPartial("_EvenementPartial", item);
    }       
</div>
